@keyframes progressBarAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.progressBar {
  display: block;
  position: relative;
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  color: white;
}

.progressBar::before,
.progressBar::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-size: 100%;
  content: '';
}

.progressBar::before {
  background-color: white;
}

.progressBar::after {
  display: block;
  left: -100%;
  background-image: linear-gradient(to right, black 0%, black 100%);
  animation-duration: var(--progress-animation-duration);
  animation-iteration-count: infinite;
  animation-name: progressBarAnimation;
  animation-timing-function: linear;
  animation-play-state: var(--progress-animation-state);
}
