@keyframes progressBarAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.progressBar {
  position: relative;
  background: var(--old-brick);
  height: 5px;
}

.progressBarElement {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  border: none;
  background-color: black;
  color: var(--old-brick);
}

.progressBarElement::before,
.progressBarElement::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-size: 100%;
  content: '';
}

.progressBarElement::before {
  background-color: var(--old-brick);
}

.progressBarElement::after {
  display: block;
  left: -100%;
  background-image: linear-gradient(to right, black 0%, black 100%);
  animation-duration: var(--progress-animation-duration);
  animation-iteration-count: 1;
  animation-name: progressBarAnimation;
  animation-timing-function: linear;
  animation-play-state: var(--progress-animation-state);
  animation-fill-mode: forwards;
}

.progressBarElement::-moz-progress-bar {
  display: block;
  left: -100%;
  background-image: linear-gradient(to right, var(--old-brick) 0%, var(--old-brick) 100%);
  animation-duration: var(--progress-animation-duration);
  animation-iteration-count: 1;
  animation-name: progressBarAnimation;
  animation-timing-function: linear;
  animation-play-state: var(--progress-animation-state);
  animation-fill-mode: forwards;
}

.progressBarValue {
  composes: visually-hidden from global;
}
