@keyframes progressBarAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.progressBar {
  position: relative;
  background: var(--old-brick);
  height: 3px;
}

.progressBar::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block;
  transform: translateX(0%);
  background: var(--dove-gray);

  animation-duration: var(--progress-animation-duration);
  animation-iteration-count: 1;
  animation-name: progressBarAnimation;
  animation-timing-function: linear;
  animation-play-state: var(--progress-animation-state);
  animation-fill-mode: forwards;
}

.progressBarElement {
  composes: visually-hidden from global;
}
