.menu {
  padding: 1rem;
}

.menuHeader {
  display: flex;
  margin: 0 -1rem;
}

.menuHeaderLabel {
  display: block;
  margin: 0 1rem;
  padding: 1rem 2rem;
  flex: 1 1 0;
  border-bottom: 3px solid transparent;
  text-align: center;
  background: var(--concrete);
}

.menuHeaderLabelIsActive {
  border-bottom-color: var(--old-brick);
}

.menuHeaderButton {
  composes: visually-hidden from global;
}

.menuList {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  text-align: left;
  list-style: none;
}

.menuListEntry {
  display: contents;
}

.menuButton {
  flex: 1 0 100%;
  margin-top: 1rem;
}
