.list {
  composes: main-section from '../../app.module.css';

  display: block;
  padding: 1rem;
}

.table {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(2rem, max-content) 1fr max-content minmax(
      2rem,
      max-content
    );
}

.tableCaption {
  grid-column: 1/-1;
  margin-bottom: 1rem;
  text-align: left;
}

/* General table components to extend from */
.tableRegion {
  display: contents;
}

.tableRow {
  display: contents;
}

.tableColumn {
  text-align: left;
}

/* Derived table components */
.tableHead,
.tableBody,
.tableFoot {
  composes: tableRegion;
}

.tableHeadRow {
  composes: tableRow;
}

.tableHeadColumn {
  composes: tableColumn;

  border-bottom: 1px solid var(--tundora);
  font-weight: bold;
  word-break: normal;
}
