.list {
  display: block;
  padding: 1rem;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.tableColumn {
  text-align: left;
}

.tableHeadColumn {
  composes: tableColumn;
  font-weight: bold;
}

.tableFootColumn {
  composes: tableColumn;
  font-weight: bold;
  text-align: right;
}
