.tableFootRow {
  composes: tableRow from '../list-daily.module.css';
}

.tableFootColumn {
  composes: tableColumn from '../list-daily.module.css';

  border-top: 2px solid var(--tundora);
  word-break: normal;
  text-align: right;
  font-weight: bold;
}

.tableFootColumn:nth-child(1) {
  grid-column: 1 / span 3;
}
