.component {
  // background: #de47be;
  margin-bottom: 1rem;
}

.qrcode {
  display: block;
}

.qrcode > svg,
.qrcode > image {
  display: block;
  width: 300px;
  margin: auto;
  image-rendering: pixelated;
}
