.component {
  // background: #de47be;
  margin-bottom: 1rem;
}

.qrcode {
  display: block;
}

.qrcode > image,
.qrcode svg {
  display: block;
  width: 300px;
  margin: auto;
  image-rendering: pixelated;
}
