.menuListsContainer {
  position: relative;
  display: flex;
  overflow: scroll;
  overflow-y: scroll;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.menuListContainer {
  flex: 1 0 100%;
}

.menuList {
  border: 1px solid black;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;

  scroll-snap-align: center;
}

.menuListEntry {
  display: contents;
}

.menuButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  flex: 1 0 100%;
}

.menuButton:disabled,
.menuButton[disabled] {
  opacity: 0.5;
}
