.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px) grayscale(100%);
  overscroll-behavior: contain;
}

.wrapper {
  display: flex;
  padding: 1rem;
  width: 250px;
  height: 150px;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--old-brick);
  background: var(--white);
}
