.wrapper {
  min-height: 100vh; /* temp */
}

/* https://css-tricks.com/full-bleed/ */
.main {
  display: grid;
  grid-template-columns: 1fr min(70ch, 100%) 1fr;
}

.main-section {
  grid-column: 2;
}
