.menu {
  padding: 1rem;
}

.menuHeader {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 10px;
  background: var(--concrete);
}

.menuHeaderLabel {
  display: block;
  padding: 1rem 0;
  flex: 0 0 auto;
  border-bottom: 3px solid transparent;
  text-align: center;

  &::after {
    content: attr(data-label);
    font-weight: bold;
    display: none;
  }
}

.menuHeaderLabelIsActive {
  color: var(--old-brick);
}

.menuHeaderButton {
  composes: visually-hidden from global;
}

.menuHeaderStateHighlighter {
  position: relative;
  margin-bottom: 1rem;
  height: 5px;
  background: var(--concrete);
}

.menuHeaderStateHighlighterBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #000;
  transform: translateX(calc(1% * var(--menu-scroll-position)));
  transition: transform 0.5s;
}
