.header {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr;
  background: var(--old-brick);
  color: var(--white);
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 480px) {
  .header {
    grid-template-columns: 1fr max-content max-content;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
  }
}

.title {
  margin: 0;
  padding: 1rem;
  grid-column: 1/-1;
}

@media only screen and (min-width: 480px) {
  .title {
    grid-column: 1;
    grid-row: 1/-1;
  }
}

.status {
  display: contents;
  margin: 0;
}

.statusTitle {
  margin: 0;
  padding: 0.5rem 0;
  grid-column: 1;
}

@media only screen and (min-width: 480px) {
  .statusTitle {
    grid-column: 2;
    text-align: right;
  }
}

.statusValue {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem 0;
  grid-column: 2;
}

@media only screen and (min-width: 480px) {
  .statusValue {
    grid-column: 3;
  }
}
